<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=0.9">
	<title>hackers</title>
	<link rel="stylesheet" href="/components/hackers/hackers.css">
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
<body>
		<canvas id="graphe" width="800" height="700"></canvas>


	<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="module" src="/components/hackers/hackers.js"></script>
</head>
</body>