@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0rem;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 

.col-12 {
    flex: 0 0 100%;
    justify-content: center;
    display: flex; 
}


/* recherche specifique */


#itemSelector{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    width: 200px;
}








.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Ajouter un espace entre les images */
}

.image-container img {
    height: auto;
    box-shadow: 2px 3px 3px black;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    transition: transform 0.5s;
}

.image-container img:hover {
    transform: scale(1.1);
}

.image-container h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.625rem;
    border-radius: 0.625rem;
    box-shadow: 0px 0px 0.3125rem black;
    width: 60%;
    text-transform: capitalize;
    margin-bottom: 1rem;
    transition: font-size 0.5s , white-space 0.5s ease, overflow 0.5s ease, text-overflow 0.5s ease;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.image-container h3:hover {
    transition: 1s;
    overflow: visible; 
    text-overflow: clip; 
    width: 100%;
    
}

#title {
    box-shadow: 0px 0px 0.3125rem black;
    border-radius: 0.625rem;
    padding: 0;
    font-size: 2.1rem;
    margin-bottom: 6rem;
    background-color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    .col-12 {
        flex: 0 0 80%;
    }

    #title {
        font-size: 1.5rem;
    }

    .image-container {
        flex: 0 0 100%;
    }
}

.ligne {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem;
    row-gap: 2rem;
    margin-left: 2rem;
}

/* Bar de difficulté */

.progressbar-wrapper {
    background-color: #dfe6e9;
    color: white;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 5rem;
}

.progressbar {
    background-color: var(--progress);
    color: white;
    padding: 0.3rem;
    text-align: right;
    font-size: 1rem;
    border-radius: 15px;
}

.progressbar[title="easy"] {
    background-color: lightgreen;
}

.progressbar[title="middle"] {
    background-color: orange;
}

.progressbar[title="hard80"] {
    background-color: #d63031;
}

.progressbar[title="hard"] {
    background-color: #d63031;
}

.easy {
    width: 20%;
}

.middle {
    width: 50%;
}

.hard80 {
    width: 80%;
}

.hard {
    width: 100%;
}




