@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1A182D;
    margin: 0rem;
    padding: 20px;
    color: #fff;
    /*cursor: none;*/
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.col-12 {
    flex: 0 0 100%;
    justify-content: center;
    display: flex; 
}


/* recherche specifique */


#itemSelector{
    margin-bottom: 100px;
    width: 100px;
    height: 50px;
    font-size: 1.5em !important;
    text-align: center;
}

/* Tutoriel */


#tutoriel {
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 8px rgba(6,147,227, 0.3);
    border-radius: 10px;
    border: 1px solid #0693e3 ;
    margin: 60px;    
}

/* les differents niveaux*/

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 20px; 
    justify-content: center;
    text-align: center;
}


.image-container img {
    height: auto;
    box-shadow: 4px 4px 8px rgba(6,147,227, 0.3);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    margin: 0 auto;
    padding: 10px;
    transition: transform 0.5s;
}

.image-container img:hover {
    transform: scale(1.1);
}

.image-container h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.625rem;
    border-radius: 0.625rem;
    box-shadow: 4px 4px 8px rgba(6,147,227, 0.3);
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 1rem;
    transition: font-size 0.5s , white-space 0.5s ease, overflow 0.5s ease, text-overflow 0.5s ease;
    white-space: nowrap;
   
}

.image-container h3:hover {
    transition: 1s;
    overflow: visible; 
    text-overflow: clip; 
    width: 100%;
    
}

#title {
    box-shadow: 4px 4px 8px rgba(6,147,227, 0.3);
    border-radius: 0.625rem;
    padding: 0;
    font-size: 2.1rem;
    margin-bottom: 6rem;
    background-color: rgba(255, 255, 255, 0.1);
    color: #0693e3;
    text-align: center;
}

@media (max-width: 768px) {
    .col-12 {
        flex: 0 0 80%;
    }

    #title {
        font-size: 1.5rem;
    }

    .image-container {
        flex: 0 0 100%;
    }
}

.ligne {
    display: flex;
    flex-wrap: wrap;
    gap: 12rem;
    row-gap: 2rem;
    margin-left: 2rem;
}


/* finished */

/* Point de progression */

.info {
    display: flex; 
    align-items: center; 
    gap: 10px; 
    font-size: 100%;
    justify-content: center;
}

.info h2,
.info p {
    margin-top: 0.5rem; 
    margin-bottom: 0.5rem;
    padding: 0.1rem; 
}

.info p {
    border: lightgrey solid 4px;
    border-radius: 100%;
    scale: 1.1;
    background-color: white;
    display: none;
    color: green;
    width: 1.3rem;
    justify-content: center;
}



/* Bar de difficulté */

.progressbar-wrapper {
    background-color: #dfe6e9;
    color: white;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 5rem;
}

.progressbar {
    background-color: var(--progress);
    color: white;
    padding: 0.3rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 15px;
}

.progressbar[title="easy"] {
    background-color: #008000;
}

.progressbar[title="middle"] {
    background-color: #00008b;
}

.progressbar[title="hard"] {
    background-color: #ff0000;
}

.progressbar[title="hard++"] {
    background-color: #000000;
}

.easy {
    width: 100%;
}

.middle {
    width: 100%;
}

.hard {
    width: 100%;
}

.hard\+\+ {
    width: 100%;
}



/* liste recherche*/

#itemSelector {
    width: 200px;
    height: 40px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 4px 4px 8px rgba(6,147,227, 0.3);
}

.label{
    justify-content: center;
    font-size: 1.8rem;
    position: relative;
    top: 20px;
}

#select{
    margin-top: 3rem;
    margin-bottom:-3rem;    
}

#choice{
    border-radius: 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #ccc;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: 0.34rem ;
    margin-bottom: 1.5rem;
    box-shadow: 4px 4px 8px rgba(6,147,227, 0.3);
}





/*mise en place des traces de la souris */

/*
.trace {
    position: absolute;
    width: 20px; 
    height: 20px;
    border-radius: 50%;
    background-color: #0693e3;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
  }*/