<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale= 0.9">
	<title>Animal Cross</title>
	<link rel="stylesheet" href="/components/Asterix/asterix.css">
	<link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
	<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script type="module" src="/components/Asterix/asterix.js"></script>
</head>

<body>
	<div class="row">

		<div class="col-3" id="consigne">
			<h1>Jeu –  Asterix </h1>
			<p> Au marché de Lutèce, Astérix, Obélix, Idéfix, Panoramix et Abraracourcix ont réalisé
				chacun un achat différent : glaive, menhir, parchemin, sanglier, vase.
				Trouve ce que chacun a acheté en utilisant les indications suivantes :</p>
			<ul>
				<li> Obélix a en horreur les armes, la lecture et les vases.</li>
				<li> Ce n’est pas un homme qui a acheté le menhir.</li>
				<li>  Le parchemin a été choisi par un guerrier. </li>
				<li>Abraracourcix n’a pas résisté à la vue du glaive de Vercingétorix.</li>
			</ul>

		</div>
		<div class="col-6">
			<canvas id="graphe" width="800" height="700"></canvas>
		</div>
		<div class="col-2" id="aideJeu">
			<h5> cliquer sur les liens pour changer leur état : </h5>
			<ul>
				<li>
					<redEdge>|</redEdge> La liaison n'existe pas
				</li>
				<li>
					<greenEdge>|</greenEdge> La liaison existe
				</li>
				<li>
					<greyEdge>|</greyEdge> Aucune information sur la liaison
				</li>
			</ul>
			<div id="resultat">
				<button type="button" class="btn btn-primary" id="valider">Valider</button>
				<button type="button" class="btn btn-primary" id="recommencer">Recommencer</button>
				<button type="button" class="btn btn-primary" id="menu">Menu</button>
			</div>
		</div>


	</div>

	</div>

</body>